<h1>Family Pictures</h1>

<div>This page lists some random photos from the McCarthy family. They come from the last few years, they are from all over the world, and they include multi generations - of both humans and are beloved pets.</div>

<!-- looping through McCarthy pictures -->
<h3>McCarthy Family Pictures</h3>
<div id=mccarthy >
<% @pictures.each do |picture| %>

	<%= link_to image_tag("/assets/mccarthy/#{picture.url}", width: '500', alt: '#{picture.name}'), picture_path(picture) %>


<% end %>
</div>

<br>
<br>


<!-- looping through Hasselbring pictures -->
<div id=hasselbring >
<h3>Hasselbring Family Pictures</h3>
<% @pictures.each do |picture| %>

	<%= link_to image_tag("/assets/hasselbring/#{picture.url}", width: '500', alt: '#{picture.name}'), picture_path(picture) %>


<% end %>
</div>

<br>
<br>

